<div class = "col-lg-12">
    <br>
    <section class="row banner-section index-banner-one">
        <div class="col-lg-6 text-center">
            <h2>YOUR NEW FAVORITE T-SHIRT</h2> 
            <p>High quality 100% pima cotton tees</p>
            <p>delivered to your door monthly</p>
            <button class='btn-orange' onClick="location.href='/subscriptions/new'">Get Started</button>
        </div>
        <div class='col-lg-6 text-center'>
            <%= image_tag('welcomes_index_pima_model.png', :id => 'welcomes-index-pima-model') %>
        </div>
    </section>
    <section class="row banner-section index-banner-two text-center">
        <div class="col-lg-12">
            <h2>HOW IT WORKS</h2>
            <br>
        </div>
        <div class="col-lg-3 text-center">
            <div class='circle'></div>
            <br>
            <h4>STEP 1</h4>
            <h3>Choose Your Plan</h3>
            <p>Choose your plan to receive</p>
            <p>2, 4, or 6 t-shirts/month</p>
        </div>
        <div class="col-lg-3 text-center">
            <div class='circle'></div>
            <br>
            <h4>STEP 1</h4>
            <h3>Choose Your Plan</h3>
            <p>Choose your plan to receive</p>
            <p>2, 4, or 6 t-shirts/month</p>
        </div>
        <div class="col-lg-3 text-center">
            <div class='circle'></div>
            <br>
            <h4>STEP 1</h4>
            <h3>Choose Your Plan</h3>
            <p>Choose your plan to receive</p>
            <p>2, 4, or 6 t-shirts/month</p>
        </div>
        <div class="col-lg-3 text-center">
            <div class='circle'></div>
            <br>
            <h4>STEP 1</h4>
            <h3>Choose Your Plan</h3>
            <p>Choose your plan to receive</p>
            <p>2, 4, or 6 t-shirts/month</p>
        </div>
    </section>
    <div class="row text-center spaced">
        <div class="col-lg-12">
            <button class='btn-orange'>See Our Shirts</button>
        </div>
    </div>
    <section class="row banner-section index-banner-three">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <%= image_tag("welcomes_index_comfort_guarantee.png", :id => 'welcome-index-comfort-guarantee') %>
            </div>
            <div class="col-lg-6 text-center">
                <h2>100% PIMA COTTON</h2>
                <p>Our cotton is hand-picked in the mountains of Peru and driven down</p>
                <p>to the city where it is made into the most comfortable and the softest</p>
                <p>t-shirt you've ever worn. <b>Get started today! If your t-shirt isn't what you</b></p>
                <p><b>expected, send it back within 30 days and get a full refund!</b></p>
                <button class='btn-orange' onClick="location.href='/subscriptions/new'">Get Started</button>
            </div>
        </div>
    </section>
    <section class="row banner-section choose-your-style-banner text-center">
        <br>
        <h2>CHOOSE YOUR STYLE</h2>
        <br>
        <div class="col-lg-6 ">
            <%= image_tag('welcomes_index_vneck.png', :id => 'welcome-index-vneck') %>
            <h3>V-NECK</h3>  
        </div>
        <div class="col-lg-6 ">
            <%= image_tag('welcomes_index_crewneck.png', :id => 'welcome-index-crewneck') %>
            <h3>C-NECK</h3>
        </div>
    </section>
    <section class="row banner-section index-banner-four text-center">
        <div class="col-lg-6">
            <h2>Help Us Give Back</h2>
            <p>Pima Club goes way beyond comfortable t-shirts. The thing that makes us</p>
            <p>stand out from the rest and gives a meaning to coming to work every</p>
            <p>day is giving back to the less fortunate. <b>Every package we send</b></p>
            <p><b>out comes with a prepaid label which can be used</b></p>
            <p>to ship your old shirts to our partner, UNICEF.</p>
            <button class='btn-orange' onClick="location.href='/subscriptions/new'">Get Started</button>
        </div>
        <div class="col-lg-6">
            <%= image_tag('welcomes_index_happy_children.png', :id => 'welcomes-index-happy-children') %>
        </div>
    </section>
    <section class="row text-center spaced">
        <div class="col-lg-6">
        <h1>FREE SHIRTS FOR A YEAR</h1>  
        <p>Earn 1 free shirt for every friend you sign up. 50 friends gets you 1 year of free shirts.</p>
        <p>Do it again and get another free year!</p>
        </div>
        <div class="col-lg-6">
            <button class='btn-orange'>INVITE FRIENDS</button>
        </div>
    </section>
    <section class="row banner-section index-banner-five text-center">
        <h1>CHOOSE A PLAN</h1>
        <br>
        <div class="col-lg-4">
            <%= image_tag("welcomes_index_black_crewneck.png", :id => "welcomes_index_black_crewneck") %>
            <h2>2 SHIRTS</h2>
            <h1>$20/MONTH</h1>
        </div>
        <div class="col-lg-4">
            <%= image_tag("welcomes_index_black_crewneck.png", :id => "welcomes_index_black_crewneck") %>
            <h2>4 SHIRTS</h2>
            <h1>$40/MONTH</h1>
        </div>
        <div class="col-lg-4">
            <%= image_tag("welcomes_index_black_crewneck.png", :id => "welcomes_index_black_crewneck") %>
            <h2>6 SHIRTS</h2>
            <h1>$60/MONTH</h1>
        </div>
    </section>

</div>
