<div class="col-lg-12 product-container">

    <section class="row banner-section text-center">
        <div class="row shirt-banner-row">
            <h1>OUR SHIRTS</h1>
            <div class="col-lg-4">
                <%= image_tag("shirt_image_vneck_white.png", :class => "shirt-image") %>
                <h3>White V-neck</h3>
                <h3>$10.00</h3>
            </div>      
            <div class="col-lg-4">
                <%= image_tag("shirt_image_vneck_gray.png", :class => "shirt-image") %>
                <h3>Gray V-neck</h3>
                <h3>$10.00</h3>
            </div>
            <div class="col-lg-4">
                <%= image_tag("shirt_image_vneck_black.png", :class => "shirt-image") %>
                <h3>Black V-neck</h3>
                <h3>$10.00</h3>
            </div>
        </div>      

        <div class="row shirt-banner-row">
            <div class="col-lg-4">
                <%= image_tag("shirt_image_vneck_white.png", :class => "shirt-image") %>
                <h3>White C-neck</h3>
                <h3>$10.00</h3>
            </div>      
            <div class="col-lg-4">
                <%= image_tag("shirt_image_vneck_gray.png", :class => "shirt-image") %>
                <h3>Gray C-neck</h3>
                <h3>$10.00</h3>
            </div>
            <div class="col-lg-4">
                <%= image_tag("shirt_image_vneck_black.png", :class => "shirt-image") %>
                <h3>Black C-neck</h3>
                <h3>$10.00</h3>
            </div>
        </div>
    </section>
</div>


