<!DOCTYPE html>
<html>
<head>
  <title>PimaClub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<%= render "/partials/side_nav_admin" %>
  <body id='wrapper'>

    <div id="page-content-wrapper" class=''>
                
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-lg-12">
                    <%= yield %>
                </div>

            </div>
        </div>
    </div>

</body>
</html>
