<!DOCTYPE html>
<html>
<head>
  <title>PimaClub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>

<body>
<!-- TOP NAV -->
  <div class="row">
    <div class="col-lg-12">
      <%= render "/partials/nav_admin" %> 
    </div>
  </div>
<!-- END TOP NAV -->  
  <div class="container">

<!-- CONTENT -->
  <div class = "row content">
    <!-- <div class = "col-lg-12"> -->
      <%= yield %>
    <!-- </div> -->
  </div>
<!-- END CONTENT -->
  </div>

<!-- FOOTER -->
  <footer class="row" style='background-color:white;'>
    <div class="col-lg-12">
      <%= render "/partials/footer" %>
    </div>
  </footer>
<!-- END FOOTER -->

</body>
</html>


<div id="page-content-wrapper" class='content'>
        
        <div id='#sidebar-wrapper'>
            <%= render "/partials/side_nav_admin" %>
        </div>

        <div class="container-fluid">
            <div class="row">
                
                <div class="col-lg-12">
                    <%= yield %>
                </div>

            </div>
        </div>
    </div>
