<!DOCTYPE html>
<html>
<head>
  <title>PimaClub</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<!-- TOP NAV -->
	<div class="row">
		<%= render "/partials/nav" %> 
	</div>
<!-- END TOP NAV -->	
<body>
	
	<!-- <div class="container"> -->
	<!-- CONTENT -->
		<div class = "row content">
			<%= yield %>
		</div>
	<!-- END CONTENT -->
	<!-- </div> -->

<!-- FOOTER -->
	<footer class="row">
		<%= render "/partials/footer" %>
	</footer>
<!-- END FOOTER -->

</body>
</html>
