<html>
<head>
  <title>PimaClub</title>
  
  <%= stylesheet_link_tag    'application/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>

	<!-- TOP NAV -->
		<div class="row">
			<%= render "/partials/nav" %> 
		</div>
	<!-- END TOP NAV -->	
		
	<!-- CONTENT -->
		<div class = "row content">
			<%= yield %>
		</div>
	<!-- END CONTENT -->

	<!-- GLOBAL MOODALS -->
		<%= render 'partials/sign_up_modal' %>
		<%= render 'partials/log_in_modal' %>
	<!-- END GLOBAL MODALS -->

	<!-- FOOTER -->
		<footer class="row">
			<%= render "/partials/footer" %>
		</footer>
	<!-- END FOOTER -->

</body>
</html>
